<h1>
  {{title}}
     
     
     <div class="row">
    <form class="col s6">
      
      <form class="col s6" >
      
      <div class="row">
        <div class="input-field col s12">
          <input id="Subjet" type="text" class="validate">
          
          <label for="Subjet">hola</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <input id="To" type="text" class="validate">
          <label for="To">To</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="From" type="text" class="validate">
          <label for="From">From</label>
        </div>
      </div>
      <div class="row">
      
      </div>
    </form>
    <div class="clearfix card-action right">
            <a class="btn waves-effect md_success" type="submit" name="action" href="">
             {{cancel}}
            </a>
            <a class="btn waves-effect md_success" type="submit" name="action"  href="">
               {{save}}
            </a>
      </div>
    </form>
  </div>
</h1>
